:root {
  --component-font-size: 16px;
  --text-color-title: rgba(86, 194, 145, 0.73);
  --text-color-body: rgb(143, 206, 129);
  margin: 0;
  padding: none;
}

body {
  background: url(../public/white_carbon.webp);
  background-color: rgb(221, 238, 226);
}

.error-message {
  color: rgb(199, 47, 121);
}

.panel-component {
  background-color: rgb(232, 244, 239);
  border-radius: 6px;
  padding: 1rem;
  width: fit-content;
  box-shadow: rgba(7, 38, 2, 0.124) 0px 2px 4px, rgba(1, 44, 9, 0.2) 0px 7px 13px -3px, rgba(54, 103, 66, 0.19) 0px -3px 0px inset;
  margin: 12px;
  overflow: hidden;
}

.panel-component p {
  margin: auto;
  width: 100%;
  text-align: center;
  color: var(--text-color-body);
  font-size: var(--component-font-size);
}

.component-title {
  color: var(--text-color-title);
  font-size: var(--component-font-size);
  /* text-align: center; */
  margin: -1rem;
  padding: 0.4rem;
  padding-left: 1rem;
  text-align: left;
  margin-bottom: 0;
  font-weight: bold;
  background-color: hsl(165, 53%, 88%);
}

#weather-icon {
  filter: drop-shadow(0px 0px 4px rgba(70, 135, 80, 0.2));
  width: 6rem;
  padding: 0;
  margin: 0;
  /* margin:0; */
}

#weather-info {
  display: flex;
  flex-direction: row;
}

#weather-info-details {
  display: flex;
  flex-direction: column;
  height: fit-content;
  align-self: center;
}


#weather-info-details * {
  text-align: left;
}

#weather-info-degrees {
  font-size: var(--component-font-size);
  padding: 0;
  margin: 0;
  color: rgb(137, 220, 147);
}

#clock-date, #clock-time {
  margin: 0;
  color: rgb(137, 220, 147);
}

#goveeDevicesList {
  list-style-type: none;
  padding: 0;
}

.deviceListElement {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: var(--text-color-body);
}

.govee-devices-list-icon {
  margin-right: 0.6rem;
}

#clock-weather-panel {
  display: flex;
  flex-direction: row;
  padding: 4rem;
  background: white;
  width: fit-content;
  right: 0;
  position: fixed;
  top: 2.5in;
  border-radius: 32px 0px 0px 32px;
  border: 1px solid rgb(154, 154, 154);
  border-right: none;
  background: #f5f5f5;
}

#clock-weather-panel #weather-info {
  background: rgb(199, 199, 199);
  border-radius: 32px 0px 0px 32px;
  padding-right: 90px;
  margin-right: -70px;
  background: #eeeeee;
  box-shadow: inset 3px 3px 10px #d3d3d3,
    inset -4px -4px 8px #fdfdfd;
  border: 1px solid rgb(229, 229, 229);
}

#clock-weather-panel #weather-info-details{
  align-items: center;
  color: black;
  margin: auto;
}

#clock-weather-panel #weather-info-degrees, #weather-info-description{
  margin: 0;
  color: #1d1d1d5d;
}

#clock-weather-timeDate {
  display: flex;
  flex-direction: column;
  height: fit-content;
  margin: auto;
  margin-right: 40px;
}

#clock-weather-timeDate #clock-time {
  font-size: 36px;
}