:root{
  --component-font-size: 16px;
  margin: 0;
}

body{
  background-color: rgb(221, 238, 226);
}

.error-message{
  color:rgb(199, 47, 121);
}

.panel-component{
  background-color: rgb(232, 244, 239);
  border-radius: 20px;
  padding: 1rem;
  width: fit-content;
  box-shadow: rgba(7, 38, 2, 0.124) 0px 2px 4px, rgba(1, 44, 9, 0.2) 0px 7px 13px -3px, rgba(54, 103, 66, 0.19) 0px -3px 0px inset;
  margin: 12px;
}

.panel-component p{
  margin: auto;
  width: 100%;
  text-align: center;
  color:rgb(143, 206, 129);
  font-size: var(--component-font-size);
}

.component-title {
  color:rgb(137, 220, 147);
  font-size: var(--component-font-size);
  text-align: center;
  margin: 0;
  font-weight: bold;
}

#weather-icon{
  filter: drop-shadow(1px 2px 8px rgba(49, 28, 11, 0.85));
  width: 6rem;
  padding: 0;
  margin: 0;
  /* margin:0; */
}

#weather-info{
  display:flex;
  flex-direction: row;
}

#weather-info-details{
  display: flex;
  flex-direction: column;
  height: fit-content;
  align-self: center;
}


#weather-info-details *{
  text-align: left;
}

#weather-info-degrees{
  font-size: var(--component-font-size);
  padding: 0;
  margin: 0;
  color: rgb(137, 220, 147);
}